body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #35424a;
}

img {
    border-radius: 50%; /* Pour une image ronde */
    display: block;
    margin: 10px auto;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: white;
}